.game {
    display: flex;
    flex-direction: column;
    height: 294px;
    width: 234px;
    background-color: #c6c6c6;
}

.header {
    background-color: #c0c0c0;
    height: 47px;
    width: 216px;
    margin: 5px;
    margin-bottom: 0;
}

.field {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #c6c6c6;
    height: 216px;
    width: 216px;
    margin: 5px;
}

.tile {
    border: 1px solid #808080;
    background-color: #c6c6c6;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
}

.tile-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
    height: 23px;
    width: 23px;
    box-sizing: border-box;
}

.hit-mine {
    background-color: #ff0000;
}

.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: purple;
}

.number-5 {
    color: maroon;
}

.number-6 {
    color: turquoise;
}

.number-7 {
    color: black;
}

.number-8 {
    color: gray;
}

.header {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 5px;
    width: 206px;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    user-select: none;
}

.clickable:active {
    font-size: 14px;
    border-left: 4px solid #808080;
    border-top: 4px solid #808080;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.inner-border {
    border-left: 4px solid #808080;
    border-top: 4px solid #808080;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.outer-border, .unused, .game-button {
    border-left: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #808080;
    border-bottom: 4px solid #808080;
}
