.Collapsible > .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 60vw;
    min-width: 500px;
    max-width: 800px;
}

.Collapsible > .header > .description * {
    margin: 0px;
}

.Collapsible > .header > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    cursor: pointer;
}

.expanded {
    display: flex;
    flex-direction: column
}

.collapsed {
    display: none;
}
