.window-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: default;
    margin: 5px;
    padding: 5px;
    width: 90px;
    height: 90px;
    border: 1px solid #00000000; /* keep the border for the spacing to remain the same */
}

.selected {
    background-color: #2596f3bb;
    border: 1px solid #40a8fd;
    color: blue;
}

.window-icon-image {
    width: 60%;
    height: 60%;;
    user-select: none;
}

.window-icon-text {
    font-size: 1.0em;
    color: white;
    text-shadow: 2px 2px 4px #00000080;
    -webkit-text-stroke: 0.1px black;
    user-select: none;
}