.xp-container {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow */
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;
    transition: opacity 0.5 ease-in-out;
}

.xp-title-bar {
    background: linear-gradient(180deg, rgba(63,151,255,1) 0%, rgba(0,85,234,1) 10%, rgba(2,106,254,1) 78%, rgba(0,101,253,1) 100%);
    border: 1px solid #001acf;
    border-bottom: none;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    user-select: none; /* Prevent text selection */
}

.xp-title {
    font-weight: bold;
    user-select: none; /* Prevent text selection */
}

.xp-close-button {
    background: linear-gradient(135deg, rgba(243,168,151,1) 0%, rgba(229,105,76,1) 32%, rgba(227,60,5,1) 100%);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xp-close-button:hover {
    filter: brightness(1.2);
}

.xp-close-button:active {
    filter: brightness(0.8);
}

.xp-window {
    border: 2px solid #001acf;
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    scrollbar-color: #BEBEBE #C0C0C0; /* Set scrollbar colors */
}

.xp-content {
    padding: 10px;
    flex-grow: 1;
    overflow: scroll;
}
