.Section {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 500px;
    max-width: 600px;
}

.Section.visible {
    display: flex;
}

img {
    width: 100%;
}

.float-right {
    width: auto;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

h1 {
    margin-top: 2em;
    margin-bottom: 0px;
}
