.App {
    margin-bottom: 2vh;
}

.App > .header {
    margin-bottom: 3vh;
}

.App, .App > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
