html, body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #008080;
    font-family: Tahoma, sans-serif;
    position: relative;
    height: 100%;
}

.link {
    cursor: pointer;
    color: #0029F5;
    text-decoration: underline;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}
